# App's running environment
NODE_ENV="development"

# App's running port
PORT="9000"

CORS_ENABLED=true

# JSON Web Tokem Expiry time
# Note: In minutes
JWT_EXPIRES_IN='300d'

# App's global details
APP_NAME="RBAC Authentication"
APP_DESCRIPTION="RBAC Authentication"
APP_URL="http://localhost:9000"

# App's secret key
# Note: This value will be used in CSRF Token 
# as well as in JSON Web Token (ie. JWT)
APP_SECRET="arandomandverylongstringthatnobodycanguess"

# For local;
DATABASE_URL='db_type://user:password@localhost:PORT/db_name'

JWT_SECRET="arandomandverylongstringthatnobodycanguess"


#EMAIL CREDENTIALS
EMAIL_SERVICE='service'
AUTH_EMAIL='email'
AUTH_EMAIL_PASS='password'